*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;
    background-color: black;
}

button {
    color: inherit;
    background-color: inherit;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    align-items: center;
    gap: 16px;
    padding: 16px;
    text-transform: uppercase;
}

.container > h1,
.container > .game {
    justify-self: center;
}

.container > #reset {
    justify-self: end;
}

.player-names {
    display: flex;
    justify-content: space-between;
}

.player-names > .active::before {
    content: '> ';
}

.player-names > .active::after {
    content: ' <';
}

.game {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game-button {
    padding: 32px;
    border: 3px solid white;
    border-radius: 16px;
}

.game-button:nth-child(1),
.game-button:nth-child(2),
.game-button:nth-child(3) {
    border-top: none;
}

.game-button:nth-child(1),
.game-button:nth-child(4),
.game-button:nth-child(7) {
    border-left: none;
}

.game-button:nth-child(7),
.game-button:nth-child(8),
.game-button:nth-child(9) {
    border-bottom: none;
}

.game-button:nth-child(3),
.game-button:nth-child(6),
.game-button:nth-child(9) {
    border-right: none;
}

.btn {
    font-size: 24px;
    background-color: rgb(25, 25, 25);
    border-style: none;
    border-radius: 8px;
    padding: 10px 16px;
    cursor: pointer;
}

.btn:empty {
    padding: 24px;
}

.btn:active {
    transform: translateY(4px);
}

#reset {
    background-color: rgb(25, 25, 25);
    font-size: 24px;
    border-style: none;
    border-radius: 4px;
    padding: 8px 24px;
    cursor: pointer;
}

#reset:active {
    transform: translateY(2px);
}
