*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;
    background-color: black;
    padding: 16px;
}

button {
    color: inherit;
    background-color: inherit;
}

.container {
    display: grid;
    grid-template-rows: 1fr 1fr 8fr 1fr;
    align-items: center;
    gap: 16px;
    padding: 32px;
    text-transform: uppercase;
}

.container > h1,
.container > .game {
    justify-self: center;
}

.container > #reset {
    justify-self: end;
}
